.cont-state-button {
  max-width: 600px;
}

.rounds {
  max-width: 150px;
}

.cont-state-button,
.rounds {
  height: 40px;
  height: 40px;
}

.cont-grid {
  max-width: 500px;
}

.grid {
  height: 400px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
